# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\kiem-tra-giua-ky\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
